<div class="calendar-container">
    <div class="calendar-header">{{ monthlyData.title }}</div>
    <button (click)="previousMonth()"><</button>
    <button (click)="nextMonth()">></button>
    <table>
        <thead>
            <tr>
                <th class="sunday">SUN</th>
                <th>MON</th>
                <th>TUE</th>
                <th>WED</th>
                <th>THU</th>
                <th>FRI</th>
                <th class="saturday">SAT</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let weekly of monthlyData.days">
                <td *ngFor="let day of weekly">
                    {{ day ? day.date : '' }}
                </td>
            </tr>
        </tbody>
    </table>
    <div class="days-container"></div>
</div>
